<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Today's Date</title>
</head>


<body>
<div class="log-form">
  <h2>RA Calculator Inputs</h2>
  <form action = "/raRntiCalc" method="post">
    <input type="text" name= "rat_type" title="rat_type" placeholder="rat_type" />
    <input type="text" name= "config_idx" title="config_idx" placeholder="config_idx" />
    <input type="text" name= "tdd_periodicity" title="tdd_periodicity" placeholder="tdd_periodicity" />
    <button name = "Calculate" type="submit">Calculate</button>
  </form>
</div><!--end log form -->
</body>
</html>
